



//============JUMBOTRON============================================

.jumbotron {

    min-height: 45rem;
    @include bgimg();
    @include frc();


    
    

    &__heading {
        // background: rgba(177, 177, 177, 0.1);
        text-align: center;
        padding: 2rem 3rem;
    }

    & h1 {
        font-size: 5rem;
        color: $h-darkblue;
    }
}


//========================FOR PATIENTS==========================================================

#pacienti {
    height: 6rem;
    // background: red;
}

.for-patients {
    max-width: 150rem;
    margin: 0 auto;
    @include frs(stretch);
    
}













//===============================FOR DEPARTMENTS=============================================================

#oddeleni {
    height: 6rem;
    // background: red;

}

.for-departments {
    max-width: 150rem;
    margin: 0 auto;
    @include frs(stretch);

}





//============================DRAW ORGANIZATION ========================================================

.draworg {
    padding: 10rem 0;
    margin: 0;

}

//========================DEPARTMENTS======================================================



    


.departments {

    @include frc();
    // @include bgimg();
    padding: 5rem 0;
    max-width: 120rem;
    margin: 0 auto;
    min-height: 50rem;
    

    &__items {
        color: $p-grey;
        margin: 2rem;
    }

    &__image {
       @include imgWrapper(35rem);
    }
}






//============================CONTACTS =======================================================================


#contact {
    padding: 2rem 0;




}

.contact__table {

    background: rgb(43, 106, 139);
    margin: 1rem 0;
    text-align: left;
    
    & > h4 {
        text-align: center;
        padding-top: 2rem;
        color: white;
    }

    & > table {
        margin: 0 2rem 2rem 2rem;
        // background: #F0F9FF;
        padding: 1rem;
        color: white;
    }


    &  td {
        padding-right: 1rem;
    }

 

}



//============================REQUEST======================================================

.request {
    height: 30rem;
   

}


//==================METHODS======================================================
.methods {
    box-shadow: 0 10px 15px rgb(200, 200, 200);
    height: 15rem;
    background: #3888B3;
    // padding-top: 6rem;
    // max-width: 50rem;

    &__div {
        max-width: 70rem;
        margin: 0 auto;
    }

    & h2 {
        text-align: center;
    }

    & a {
        color: #ffffff;
    }

    & a:hover {
        font-size: 102%;
        color: #fff495;
        transition: font-size 0.3s, color 0.3s;
        transition-delay: .05s;
    }
    
}


.pohotovost {
    color: rgb(255, 172, 172);
    font-weight: bold;
}














//==========================COMMON==================================================

.shad {
    box-shadow: 0 10px 15px rgb(167, 167, 167);

}




