html {
  font-size: 62.5%;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: white;
  margin: 0;
  padding: 0;
  background-image: url('/images/ET3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  
}

#app {
  max-width: 1200px;
  min-width:300px;
  margin: 0 auto;
  
}

.main {
  // background-image: url('/images/ET2.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
//   // background: red;
//   // padding: 0 2rem;
background: white;
  
}

@media (min-width: 600px) {
  #app {
    width: 85%;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

h1 {
  margin: 1rem 0;
  padding: 0;
}

h4 {
  margin: 1rem 0;
  font-weight: 900;
}

ul {
  padding: 0;
}

input[type=checkbox] {
  transform: scale(1.5);
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 114, 32);
  border: none;
  color: white;
  padding: 15px;
}

button:disabled {
  cursor: default;
}


.is-active {
  font-weight: bold;
}

.inline {
  display: inline;
}





::-webkit-input-placeholder {
  text-align: left;
  color: #999;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
  color: #999;

}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
  color: #999;

}

:-ms-input-placeholder {  
  text-align: center; 
  color: #999;

}



