html {
  font-size: 62.5%;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: white;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}



button {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 114, 32);
  border: none;
  color: white;
  padding: 15px;
}

button:disabled {
  cursor: default;
}


.is-active {
  font-weight: bold;
}






