html {
  font-size: 62.5%;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: white;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1200px;
  min-width:300px;
  margin: 0 auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

h4 {
  margin: 1rem 0;
  font-weight: 900;
}

ul {
  padding: 0;
}

input[type=checkbox] {
  transform: scale(1.5);
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(255, 114, 32);
  border: none;
  color: white;
  padding: 15px;
}

button:disabled {
  cursor: default;
}


.is-active {
  font-weight: bold;
}

.inline {
  display: inline;
}






