.transport {
    text-align: center;
    
    &__items {
        @include frs();
    }

    &__item {
        max-width: 45rem;
        border: 1px white solid;
        margin: 2rem;
        padding: 2rem;



        & h3 {
            text-align: center;
            color: $h-blue;
        }

        & p {
            text-align: justify;
            
        }

        & img {
            max-width: 15rem;
        }
    }
}