
//=============INTRODUCTION

.introduction {
    // background: #3888B3;
    color: rgb(83, 83, 83);
    margin: 0;
    padding: 10.4rem 0 4rem 0;
    height: 50rem;
    background: url('/images/ET6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    

    &__points {
        padding: 0 3rem;

        & li {
            margin-left: 1.5rem;
        }
    }

    & h1 {
        margin: 2rem 3rem;
        text-align: center;
        font-weight: 100;
        font-size: 5rem;
        font-family: 'Roboto Condensed';

        
     
    }

    & h2 {
        margin: 2rem 0;
        text-align: center;
        font-weight: 100;
        font-size: 3rem;
        line-height: 5rem;
        padding: 0 2rem;
        

     
    }

    & h3 {
        text-align: center;
    }

}


//==================METHODS======================================================
.methods {
    box-shadow: 0 10px 15px rgb(200, 200, 200);
    height: 20rem;
    background: #3888B3;

    & a {
        color: #ffffff;
    }

    & a:hover {
        font-size: 102%;
        color: #fff495;
        transition: font-size 0.3s, color 0.3s;
        transition-delay: .05s;
    }
    
}



//========================DEPARTMENTS======================================================


.departments {
    padding: 5rem 0;
}

.labimg {
    max-width: 300px;

    & img {
        max-width: 100%;
    }
}


//============================DRAW ORGANIZATION ========================================================

.draworg {
    color: white;
    background: #3888B3;
    padding: 10rem 0;
    box-shadow: 0 10px 15px rgb(200, 200, 200);


    &__card {
        background: rgb(43, 106, 139);
        padding: 2rem;
        text-align: center;
    }
}



//============================REQUEST======================================================

.request {
    height: 30rem;
   

}

//============================CONTACTS =======================================================================


.contact {
    padding: 2rem 0;
    text-align: center;
    background: #3888B3;
    color: white;
    box-shadow: 0 10px 15px rgb(200, 200, 200);


}

.contact__table {

    background: rgb(43, 106, 139);
    margin: 1rem 0;
    color: white;
    text-align: left;
    
    & > h4 {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    & > table {
        margin: 0 2rem 2rem 2rem;
        // background: #F0F9FF;
        padding: 1rem;

    }

    &  td {
        padding-right: 1rem;
    }

    // &--cl {
    //     background: red;
    // }

    // &--bch {
    //     background: blue;
    // }

    // &--hem {
    //     background: purple;
    // }

    // &--ria {
    //     background: pink;
    // }

    // &--imu {
    //     background: teal;
    // }

}


.pohotovost {
    color: rgb(255, 172, 172);
    font-weight: bold;
}














//==========================COMMON==================================================

.shad {
    box-shadow: 0 10px 15px rgb(167, 167, 167);

}




