// .draw__dash {
//     padding-top: 64px;
//     color: white;
//     background: #3888B3;
//     padding: 10rem 0;
//     box-shadow: 0 10px 15px rgb(200, 200, 200);
//     margin: 0;
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;

//     & a {
//         display: flex;
//     }


    // &__card {
    //     background: rgb(43, 106, 139);
    //     padding: 2rem;
    //     text-align: center;
    //     margin: 2rem .5rem;
    //      max-width: 30rem;
       
        
        

    //     &:hover {
    //         background: rgb(29, 70, 92);
    //         cursor: pointer;
    //     }

    //     & img {
    //         height: 128px;
    //     }
    // }
// }


.draw__system {
    padding: 12rem 4rem 4rem 4rem;
    background: url('/images/ET3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        border: 1px #3888B3 solid;
        // text-align: center;
        min-width: 30rem;
        padding: 1rem;
        background: white;

        &:first-of-type {
            background: #3888B3;
            color: white;
            font-weight: bold;
        }
   }

    & p {
        padding: .5rem;
        max-width: 10rem;
    }

    & h1 {
        margin-bottom: 3rem;
        color: #414141;
    }
    
}



@media (max-width: 760px) {
    .draw__system__item {
        flex-flow: column nowrap;

        & p {
            max-width: unset;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
    }


}



.draw__order {
    padding-top: 64px;
    background: #3888B3;
    color: white;

    & h1 {
        text-align: center;
        margin: 5rem 0;
    }
    
    &__item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2rem 0rem;
        background: rgba(0, 0, 0, 0.3);

        

        &--additive {
            width: 20rem;
        }

        &--example {
            width: 20rem;
        }

        &:first-of-type {
            padding-left: 4.5rem;
        }
    }
}

// .hemoculture {
//     width: 8rem;
// }

@media (max-width: 760px) {
    .draw__order__item {
        margin: 2rem 0;
    }
}




