.fc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    flex-flow: row wrap;
}

.fcraw {
    display: flex;
   
    align-items: center;
    flex-flow: row wrap;
}

.fcrw {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

.flex-container > div {
    background-color: #ccc;
}

//DORESIT DISPLAY FLEX A JEHO EXTENDS, v HTML zmenit fc na f

.f {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.f_center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.f_between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.f_stretch {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.f_start {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.f_column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.pad {
    padding: 1rem 0;
}

