.general {
    &__container {

        // & a {
        //     display: flex;
        // }
    }


    &__card {
        background: rgb(43, 106, 139);
        padding: 2rem;
        text-align: center;
        margin: 2rem .5rem;
        max-width: 30rem;
       
        
        

        &:hover {
            background: rgb(29, 70, 92);
            cursor: pointer;
        }

        & img {
            height: 128px;
        }
    }
}