.header {
    background: rgb(75, 183, 255);

    &__title {
        text-decoration: none;
        color: rgb(95, 95, 95);
        margin: 0;
    }

    &__logo {
        flex-grow: 1;
        padding-left: 2rem;
    }

    &__links {
        flex-grow: 2;
        margin-right: 1rem;
    }

    &__user {
        flex-grow: 1;
    }
}

.admin-header {
    background: rgb(212, 255, 132);
    padding: 1rem 0;
}

@media (max-width: $bp) {
    .header {

        &__links, &__user {
            display: none;
            background-color: red;
            
        }

        &__logo {
            flex-grow: 1;
            padding-left: 2rem;
            margin-right: 2rem;
        }
    }
}

