.lm {
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;

    &__search {
        background-color: rgb(255, 233, 36);
        padding: 2rem 0;

        &--invisible {
            visibility: hidden;
        }

        &_input {
            height: 40px;
            border: none;
            padding-left: 1rem;
            margin-top: 1rem;
            font-size: 3rem;
            
        }

        &_img {
            margin-top: 1rem;
            &:hover {
                cursor: pointer;
            }
        }

        &_item {
            margin: 0 .5rem;
        }

        &_del {
            visibility: hidden;
        }

        &_clearFilter {
            margin: 0 auto;
            width: 500px;
            text-align: center;


            
        }

      

        
    }

    &__cat {
        background-color: rgb(255, 255, 255);

        &-active {
            background-color: rgb(120,120,120);
        }
    }

    &__item {
        background-color: rgb(83, 255, 121);
        margin: 1rem 0;
        
    }

    &__abc{

        // display: none;

        &--active {
            background-color: rgb(120,120,120);

        }

        & button {
            
        }
    }
}

// img {
//     visibility: hidden;
// }

