.labmetform {
    
    background: rgb(54, 179, 195);
    color: white;
    padding: 2rem 0;


    &__li {
        list-style-type: none;
        width: 70%;
        max-width: 400px;
        margin: 10px auto;
        

        & > input {
            border: none;
            height: 3rem;
            padding: 0 1rem;
        }
    }
    
}