.lm {
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;

    &__search {
        background-color: rgb(255, 233, 36);
        padding: 2rem 0 2rem 5rem;

        &--invisible {
            visibility: hidden;
        }

        &_input {
            height: 40px;
            border: none;
            padding-left: 1rem;
            margin-top: 1rem;
            font-size: 3rem;
            min-width: 27rem;
            
        }

        &_img {
            margin-top: 1rem;
            &:hover {
                cursor: pointer;
            }
        }

        &_del {
            visibility: hidden;
        }

        &_clearFilter {
            margin: 0 auto;
            width: 500px;
            text-align: center;


            
        }

      

        
    }

    &__cat {
        background-color: rgb(255, 255, 255);

        &-active {
            background-color: rgb(120,120,120);
        }
    }

    &__item {
        background-color: rgb(252, 255, 83);
        margin: 1rem 0;
        padding: 1.5rem 3rem;
        font-size: 2rem;
        color: rgb(63, 63, 63)
        
    }

    &__abc{

        // display: none;

        &--active {
            background-color: rgb(120,120,120);

        }

        & button {
            
        }
    }
}

// img {
//     visibility: hidden;
// }

@media (max-width:500px) {
    .lm{

        &__search {
            padding-left: 0;
        }
    }
}

