.reception {
    @include frc(center, stretch);

    &__card {
        @include fc(space-evenly, stretch);
        max-width: 40rem;
        background: greenyellow;
        padding: 4rem;
        margin: 2rem;
        & p {
            margin: 1rem;
        }

        & td {
            padding: 1rem 2rem;
            // text-align: center;
        }

    }

    &__item {


        &__line {
            @include frs();
            // flex-grow: 1;

            & p {
                // flex-grow: 1;
            }

            &--center {
                @include frc();
            }
        }

        &__half {
            // flex-grow: 1;
            // flex-basis: 0;
            // min-width: 20rem;

            &:first-of-type {
                // background: red;
                // flex-grow: 1.1;
                // flex-basis: 20%;
            }
        }

       
        
    }



    &__center {
        text-align: center;
    }
}